.menu-button {
  -fx-background-color: #D9D9D9;
  -fx-text-fill: black;
  -fx-font-size: 14px;
  /* Use relative values for padding */
  -fx-padding: 0.5em 1em;
  -fx-border-radius: 5px;
  -fx-cursor: hand;
}
.finish-button {
  -fx-background-color: #ff0000;
  -fx-text-fill: rgb(255, 255, 255);
  -fx-font-size: 14px;
  /* Use relative values for padding */
  -fx-padding: 0.5em 1em;
  -fx-border-radius: 5px;
  -fx-cursor: hand;
  -fx-font-weight: bold;
}

.login-button {
  -fx-background-color: #D9D9D9;
  -fx-text-fill: black;
  -fx-font-size: 14px;
  /* Use relative values for padding */
  -fx-padding: 0.5em 1em;
  -fx-border-radius: 5px;
  -fx-cursor: hand;
}

.login-text {
  -fx-font-size: 2em;
  -fx-fill: white;
  -fx-font-weight: bold;
  -fx-text-align: center;
}




